.page-section               { padding: 25px 0px; }
.review-btn                 { margin-right: 15px; padding: 12px 22px; background: #0d84db; font-size: 18px; line-height: 21px; color: #fff; border-radius: 5px;}
.review-list                { margin-top: 12px; padding: 0px; list-style: none; }
.review-list li             { margin: 10px 15px; padding: 15px 12px; background: #fff; box-shadow: 1px 3px 15px 0 rgba(0, 0, 0, 0.07); -webkit-box-shadow: 1px 3px 15px 0 rgba(0, 0, 0, 0.07);}
.review-title               { display: flex; }
.review-list h1             { width: calc(100% - 140px); flex-shrink: 0; -webkit-flex-shrink: 0; }
.review-list li rating      { transform: scale(0.65); -webkit-transform: scale(0.65); transform-origin: top left; -webkit-transform-origin: top left; }
