<ion-header>
  <ion-toolbar>
    <ion-title>Please, give your Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label floating class="">Name</ion-label>
    <ion-input  type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating class="">Message</ion-label>
  <ion-input  type="textarea" placeholder="Message" [(ngModel)]="message"></ion-input>
</ion-item>
<rating [(ngModel)]="rating" readonly="false"  size="default" (rateChange)="onRateChange($event)">
</rating>
<ion-item>
  <button type="submit" (click)="reviewSubmit()">Submit</button>
</ion-item>
</ion-content>
