@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$blue-color: #0d84db;

html body                       { font-family: 'Roboto', sans-serif; color: #212121; }
h1                              { margin: 0px 0px 12px; font-size: 18px; line-height: 26px; color: #212121; font-weight: 700; }
h2                              { margin: 0px 0px 12px; font-size: 16px; line-height: 19px; color: #212121; font-weight: 700; }
h3                              { margin: 0px 0px 15px; font-size: 16px; line-height: 19px; color: #212121; font-weight: 600; }
h4                              { margin: 0px 0px 15px; font-size: 16px; line-height: 19px; font-weight: 400; }
p                               { margin: 0px 0px 15px; font-size: 14px; line-height: 19px; }
// p.big-text                      { font-size: 14px; line-height: 19px; }
.sub-text                       { font-size: 12.5px; line-height: 15px; }
.page-section                   { padding: 25px 0px;}
.no-margin                      { margin: 0px; }

.text-btn                       { margin: 0px; padding: 0px; height: auto; background: transparent !important; font-size: 16px; line-height: 19px; font-weight: 500; color: $blue-color !important; border-radius: 0px; border: none !important; }
.title-btn                      { padding: 0px 15px; display: flex; }
.title-btn h2                   { margin: 0px; }

ion-card.common-card                { margin: 0px; padding: 12px; border-radius: 5px; box-shadow: 1px 3px 15px rgba(0,0,0,0.11); -webkit-box-shadow: 1px 3px 15px rgba(0,0,0,0.11); text-align: left; }
ion-card.common-card.no-padding     { padding: 0px; }





