<ion-header>
  <ion-toolbar>
    <ion-title>
      Dr.Bhadja's Homeopathy
    </ion-title>
    <button (click)="toContact()">Contact us</button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-section">
    <div class="expert-drs-section">
      <h2>Expert Doctors</h2>
      <ion-slides [options]="slideOpts">
        <ion-slide>
          <ion-card class="common-card">
            <ion-grid no-padding class="header-block">
              <ion-row class="ion-align-items-center">
                <ion-col no-padding size="auto">
                  <ion-img class="person-img" src="../../assets/images/person1.png"></ion-img>
                </ion-col>
                <ion-col no-padding>
                  <h3>Dr. Dharmesh Bhadja</h3>
                  <p class="sub-text">BHMS MD</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <p class="desc">He is the founder of Dr Bhadja's Homeopathy Clinic, did this BHMS from AJSH Medical college,
              Mehsana...
            </p>
            <div class="ion-text-right">
              <button class="text-btn">Know More</button>
            </div>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card class="common-card">
            <ion-grid no-padding class="header-block">
              <ion-row class="ion-align-items-center">
                <ion-col no-padding size="auto">
                  <ion-img class="person-img" src="../../../assets/images/person2.png"></ion-img>
                </ion-col>
                <ion-col no-padding>
                  <h3>Dr. Reshma Bhadja</h3>
                  <p class="sub-text">BHMS MD</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <p>She is the founder of Dr Reshma's Homeopathy Clinic, did this BHMS from AJSH Medical college, Mehsana...
            </p>
            <div class="ion-text-right">
              <button class="text-btn">Know More</button>
            </div>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card class="common-card" (click)="clinicDetail()">
            <ion-grid no-padding class="header-block">
              <ion-row class="ion-align-items-center">
                <ion-col no-padding size="500px">
                  <ion-img  class="logo-img" src="../../assets/images/logo.png"></ion-img>
                </ion-col>
                <ion-col no-padding class="logo-lable">
                  <h3>Dr. Bhadja Homeopathy Clinic</h3>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="before-after-section">
    <h2>Before-After</h2>
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <ion-card class="common-card no-padding">
          <ion-img src="../../../assets/images/after-before1.jpg"></ion-img>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="common-card no-padding">
          <ion-img src="../assets/images/after-before1.jpg"></ion-img>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="diseases-adult-section">
    <div class="title-btn ion-justify-content-between ion-align-items-center">
      <h2>Diseases of Adults</h2>
      <button class="text-btn">More ></button>
    </div>
    <ion-slides [options]="diseasesSlideOpts">
      <ion-slide>
        <ion-card class="common-card">
          <h1>Hypothyroidism</h1>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="common-card">
          <h1>Arthritis</h1>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="common-card">
          <h1>Infertility</h1>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </div>
  <div class="diseases-adult-section">
    <div class="title-btn ion-justify-content-between ion-align-items-center">
      <h2>Diseases of Kids</h2>
    </div>
    <ion-slides [options]="diseasesSlideOpts">
      <ion-slide>
        <ion-card class="common-card">
          <h1>Arthritis</h1>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="common-card">
          <h1>Pneumonia</h1>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="rating-section">
    <div class="title-btn ion-justify-content-between ion-align-items-center">
      <h2>Rating</h2>
      <button class="text-btn" (click)="ratingMore()">More ></button>
    </div>
    <ion-slides [options]="diseasesSlideOpts">
      <ion-slide>
        <ion-card class="common-card">
          <h2>Kaushal joshi</h2>
          <p class="no-margin">Dr Darmesh Bhadja has a great knowledge, well versed experience and profound confidence..
            Read More
          </p>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="common-card">
          <h2>Ravi Parmar</h2>
          <p class="no-margin">Dr Darmesh Bhadja has a great knowledge, well versed experience and profound confidence..
            Read More
          </p>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="case-studies-section">
    <div class="title-btn ion-justify-content-between ion-align-items-center">
      <h2>Case Studies</h2>
      <button class="text-btn">More ></button>
    </div>
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>
          <h4>Swelling of the fingers and occasionally swelling of the lips and eyelid.. <button class="text-btn">Read
              More</button>
          </h4>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>
          <h4>Swelling of the fingers and occasionally swelling of the lips and eyelid.. <button class="text-btn">Read
              More</button>
          </h4>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="articles-section">
    <div class="title-btn ion-justify-content-between ion-align-items-center">
      <h2>Articles</h2>
      <button class="text-btn" (click)="ratingMore()">More ></button>
    </div>
    <ion-list lines="none">
      <ion-item>
        <div class="article-item">
          <ion-img src="/assets/images/article1.png"></ion-img>
          <div class="article-desc">
            <h4>Dengue epidemic: What can we offer?</h4>
            <div class="article-footer ion-justify-content-between ion-align-items-center">
              <p class="date">27th Jan’18</p>
              <button class="text-btn">Know More</button>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="article-item">
          <ion-img src="/assets/images/article1.png"></ion-img>
          <div class="article-desc">
            <h4>A case of acute paraphimosis with balanitis</h4>
            <div class="article-footer ion-justify-content-between ion-align-items-center">
              <p class="date">27th Jan’18</p>
              <button class="text-btn">Know More</button>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="article-item">
          <ion-img src="/assets/images/article1.png"></ion-img>
          <div class="article-desc">
            <h4>Is cronic IBS problem is under cycotic miasm?</h4>
            <div class="article-footer ion-justify-content-between ion-align-items-center">
              <p class="date">27th Jan’18</p>
              <button class="text-btn">Know More</button>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>