<ion-header>
  <ion-toolbar>
    <ion-title class="title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [innerHtml]="details">
<!-- <img src="assets/images/hypothyroidism.png"> -->
<!-- <div>
  <h2>
    What is Hypothyroidism?
  </h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also.. Read More
  </p>
</div>
<div>
  <h2>Symptoms</h2>
  <p>
    Fatigue
    Weakness
    Intolerance to cold
    Muscle aches and cramps
    Constipation
    Weight gain or difficulty losing weight
    Poor appetite
    Goiter (enlarged thyroid gland)
  </p>
</div>
<div>
  <h2>Treatment</h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    When an unknown printer took a galley of type.
    Scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
  </p>
</div> -->
</ion-content>
