<ion-header>
  <ion-toolbar>
    <ion-title>Contact us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-img class="person-img" src="../assets/images/person1.png"></ion-img>
      <ion-label>
          Dr.Dharmesh Bhadja
      </ion-label>
      <p class="sub-text">BHMS MD</p>
      <p class="sub-text">Email : dr.dharmesh.bhadja@gmail.com</p>
      <p class="sub-text">Available on : Monday to Saturday 9:30 to 1:30 and 5:00 to 8:30</p>
  </ion-item>
  <ion-item>
      <ion-img class="person-img" src="../assets/images/person1.png"></ion-img>
      <ion-label>
          Dr.Reshma Bhadja
      </ion-label>
      <p class="sub-text">BHMS MD Paediatric</p>
      <p class="sub-text">Email : reshma.homoeopath@gmail.com</p>
      <p class="sub-text">Available on : Monday to Saturday 10:30 to 1:30 and 5:00 to 7:00</p>
  </ion-item>
  <ion-item>
    <ion-label>
        Dr Bhadja's Homeopathic Clinic
    </ion-label>
    <p>Address : Bhaktidham Complex, Golden Park main road, B/h Raiya Telephone Exchange, 150 Feet Ring Road, Rajkot - 360 005</p>
    <!-- <map></map> -->
  </ion-item>
</ion-content>
